body{

}
.container{
  width: 100%;
  height: 600px;
  border: 2px solid black;
  display: inline-block;
  margin: auto;

}
.info-panel{
  width: 30%;
  height: 95%;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  float:left;

}
button{
  margin: 10px;
}
#turn{
margin:10px;
}
#timer{
margin: 10px;
}
#score{
margin:10px;
}
.game-board{
  width: 60%;
  height: 95%;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  float:right;
}
.top-player{
  float: right;
  margin: 5px;
  border: 2px solid black;

}
.bottom-player{

  margin:5px;
  border: 2px solid black;
  display:inline-block;
  float: right;
}

img{
  margin: 0px 30px;
  width: 25%;
}
p{
  color: red;
}
/*#bottom-left{
  display:inline-block;
  float:right;
}
#bottom-right{
  display:inline-block;
  float: right;
}*/
